
<div class="container">
  <iframe #iframe src="https://rodoviariaonline.com.br/widget/widget.php" height="250px"></iframe>
</div>
<br /> 

<praia-onibus> </praia-onibus>

  <div class="container city"> 
    <div class="row"> 
        <div class="col-md-6"> 
          <praia-ciudades title="Río de Janeiro" image="../../../../../assets/img/paquetes/buses/rio_de_janeriob.jpg"></praia-ciudades>  
        </div>      
        <div class="col-md-6"> 
         <praia-ciudades title="Sao Paulo" image="../../../../../assets/img/paquetes/buses/sao_paulob.jpg"></praia-ciudades>
        </div>  
    </div> 

  <div class="row"> 
        <div class="col-md-3"> 
          <praia-ciudades title="Río de Janeiro" image="../../../../../assets/img/paquetes/buses/rio_de_janeiro.jpg"></praia-ciudades>
       </div>      
       <div class="col-md-3"> 
          <praia-ciudades title="Curitiba" image="../../../../../assets/img/paquetes/buses/curitiba.jpg"></praia-ciudades>  
       </div>  
       <div class="col-md-3"> 
        <praia-ciudades title="Sao Paulo" image="../../../../../assets/img/paquetes/buses/sao_paulo.jpg"></praia-ciudades>
       </div>      
       <div class="col-md-3"> 
        <praia-ciudades title="Belo Horizonte" image="../../../../../assets/img/paquetes/buses/Belo_horizonte.jpg"></praia-ciudades>
       </div> 
    </div> 
</div>

<praia-bus class="bus"> </praia-bus>

<praia-compra> </praia-compra>

