.header__content-left {
  img {
    height: 46px;
  }
}

.ps-block--user-header {
  .ps-block__right {
    .btn-link {
      color: inherit;
      font-size: 1.3rem;
      font-weight: 700;
      text-decoration: none;
      &:hover {
        color: #fcb800;
      }
    }
  }
}
