/* You can add global styles to this file, and also import other style files */


html, body { height: 100%; }

.color-gris-100 {
  color: rgba(128,128,128, 1.0);
}
.color-gris-90 {
  color: rgba(128,128,128, .9);
}
.color-gris-80 {
  color: rgba(128,128,128, .8);
}
.color-gris-70 {
  color: rgba(128,128,128, .7);
}
.color-gris-60 {
  color: rgba(128,128,128, .6);
}
.color-gris-50 {
  color: rgba(128,128,128, .5);
}
.color-gris-40 {
  color: rgba(128,128,128, .4);
}
.color-gris-30 {
  color: rgba(128,128,128, .3);
}
.color-gris-20 {
  color: rgba(128,128,128, .2);
}
.color-gris-10 {
  color: rgba(128,128,128, .1);
}
