<div class="ps-tabs">

  <nacionales-tab-descripcion [producto]="producto" class="ps-tab active" id="tab-1"></nacionales-tab-descripcion> 

  <nacionales-tab-especificacion [producto]="producto" class="ps-tab" id="tab-2"></nacionales-tab-especificacion>

  <nacionales-tab-vendedor [producto]="producto" class="ps-tab" id="tab-3"></nacionales-tab-vendedor>

  <nacionales-tab-revisiones [producto]="producto" class="ps-tab" id="tab-4"></nacionales-tab-revisiones>

  <nacionales-tab-preguntas-respuestas class="ps-tab" id="tab-5"></nacionales-tab-preguntas-respuestas>

</div>
