.one{
    margin-top: 20px;
    margin-bottom: 20px;
 }

.is-invalid {
    border: 1px solid #E8446C !important;
  }

.row-mid {
    margin-top: 60px !important;
  }

.flight{
    color: #09c;
  }

.company{
     font-size: 13px;
     color: #1b0088;
     font-weight: bold;
  }


.invalid-input {
    border: 1px solid #E8446C  !important;
  } 

.invalid-label {
    color:  #E8446C  !important;
  } 

.valid-input {
    border: 1px solid #28a745  !important;
  } 

.text-left{
     margin-top: 60px !important;
     margin-left: 160px;
  }

.no-vuelos{
  margin-left: 220px !important;
  padding-left: 40px;
 }  
.air{
    color: #263B68;
    font-weight: bold;
 }
   
figure {
    border-bottom: 0;
  }

.place{
    color: grey;
    font-weight: bold;
  } 

.real{
    color: #E37223;
    margin-right: 10px;
    font-weight: bold;
  }

   
.buscador{
    margin-bottom: 20px;
  }

.ico{
    margin-left: 10px;
    font-size: 17px;
  }

.time{
    color: gray;
    font-weight: bold;
  } 


.oragen{
    color: #E37223;
    font-weight: bold;
  }    

.flighto{
  margin-top: 50px;
   margin-left: 0px;
}  
   
.flighti{
    margin-left: 0px;
  }   

.no-style{
    list-style: none !important;
  } 

button.repeat{
    float: right !important;
  }

.service{
    padding-right: 120 !important;
  }  

.loading{
     margin-top: 30px;
     margin-bottom: 30px;
     font-weight: bold;
     margin-right: 280px !important;
     padding-right: 120px;
  } 

.consultar{
    margin-right: 120px;
  }   

.error{
    color: #E8446C !important;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-right: 65px;
    padding-right: 120px;
  }
