<aside class="widget widget_product widget_features">

  <shared-date-picker></shared-date-picker>

  <p><i class="icon-network"></i> Shipping worldwide</p>

  <p><i class="icon-3d-rotate"></i> Free 7-day return if eligible, so easy</p>

  <p><i class="icon-receipt"></i> Supplier give bills for this product.</p>

  <p><i class="icon-credit-card"></i> Pay online or when receiving goods</p>

</aside>

<aside class="widget widget_sell-on-site">

  <p>
    <i class="icon-store"></i> Sell on MarketPlace?
    <a href="#"> Register Now !</a>
  </p>

</aside>

<aside class="widget widget_same-brand">

  <h3>Same Brand</h3>

  <div class="widget__content">

    <div class="ps-product" *ngFor="let producto of productos">

      <div class="ps-product__thumbnail">

        <a [routerLink]="['/paquetes/nacionales', producto.url]">

          <img imagen [producto]="producto" tipo="paquete">

        </a>

        <div class="ps-product__badge" oferta [producto]="producto" [porcentage]="true"></div>

        <ul class="ps-product__actions">

          <li>
            <a href="#" data-toggle="tooltip" data-placement="top" title="Read More">
              <i class="icon-bag2"></i>
            </a>
          </li>

          <li>
            <a href="#" data-toggle="tooltip" data-placement="top" title="Quick View">
              <i class="icon-eye"></i>
            </a>
          </li>

          <li>
            <a href="#" data-toggle="tooltip" data-placement="top" title="Add to Whishlist">
              <i class="icon-heart"></i>
            </a>
          </li>

          <li>
            <a href="#" data-toggle="tooltip" data-placement="top" title="Compare">
              <i class="icon-chart-bars"></i>
            </a>
          </li>

        </ul>

      </div>

      <div class="ps-product__container">

        <a class="ps-product__vendor" [routerLink]="['/tienda', producto.tienda.url]">{{ producto.tienda.nombre }}</a>

        <div class="ps-product__content">

          <a class="ps-product__title" [routerLink]="['/paquetes/nacionales', producto.url]">{{ producto.nombre }}</a>

          <div class="ps-product__rating">

            <select class="ps-rating" data-read-only="true" rating [producto]="producto"></select>

            <span rating [producto]="producto" [revisiones]="true"></span>

          </div>

          <p class="ps-product__price sale" oferta [producto]="producto"></p>

        </div>

        <div class="ps-product__content hover">

          <a class="ps-product__title" [routerLink]="['/paquetes/nacionales', producto.url]">{{ producto.nombre }}</a>

          <p class="ps-product__price sale" oferta [producto]="producto"></p>

        </div>

      </div>

    </div>

  </div>

</aside>
