.buses {
    background: url(../../../../../../assets/img/paquetes/buses/buses.png); 
    background-size: cover !important;
    height: 425px !important;
    width: 100% !important;
  }

  .onibus{
    margin-top: 30px !important;
    margin-bottom: 30px !important;
  }

  .green {
    color: green;
  }