
<div class="container onibus">
  
 <div class="ps-site-features">
    <div class="ps-container">
        <div class="buses">
            <h1 class="text-center">Pasajes</h1>
            <h3 class="text-center green">Por Tierra</h3><br />
        </div>
        
        <div class="ps-block--site-features">
            <div class="ps-block__item">
                <div class="ps-block__left"><img src="../../../../../../assets/img/paquetes/buses/1.png"></div>
                <div class="ps-block__right">
                    <h4>Selecciona tu salida</h4>
                    <p>Múltiples opciones</p>
                </div>
            </div>
            <div class="ps-block__item">
                <div class="ps-block__left"><img src="../../../../../../assets/img/paquetes/buses/2.png"></div>
                <div class="ps-block__right">
                    <h4>Selecciona tus fechas</h4>
                    <p>y horarios de salida</p>
                </div>
            </div>
            <div class="ps-block__item">
                <div class="ps-block__left"><img src="../../../../../../assets/img/paquetes/buses/3.png"></div>
                <div class="ps-block__right">
                    <h4>Realiza la búsqueda</h4>
                    <p>Aguarda los resultados</p>
                </div>
            </div>
            <div class="ps-block__item">
                <div class="ps-block__left"><img src="../../../../../../assets/img/paquetes/buses/4.png"></div>
                <div class="ps-block__right">
                    <h4>Selecciona tu opción</h4>
                    <p>Coloca los pasajeros</p>
                </div>
            </div>
            <div class="ps-block__item">
                <div class="ps-block__left"><img src="../../../../../../assets/img/paquetes/buses/5.png"></div>
                <div class="ps-block__right">
                    <h4>Realiza tu pago</h4>
                    <p>Esperar sólo el ticket</p>
                </div>
            </div>
        </div>
    </div>
</div>
</div>